<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.EmployeeMapper">
    <select id="getHeadMasterByUid" parameterType="int" resultType="employee">
        select * from employee where uid=#{uid}
    </select>
    <delete id="deleteEmployeeByUid" parameterType="int">
        delete from employee where uid=#{uid}
    </delete>
    <select id="getEmployList" resultType="employee">
        select * from employee
    </select>
    <insert id="addEmployee" parameterType="employee">
        insert into employee(ename,esex,eage,ephone,eemail,job,uid) values (#{ename},#{esex},#{eage},#{ephone},
        #{eemail},#{job},#{uid})
    </insert>
    <select id="getEmployeeByUid" parameterType="int" resultType="employee">
        select * from employee where uid = #{uid}
    </select>
    <update id="updateEmployee" parameterType="employee">
        update employee set eid=#{eid},ename=#{ename},esex=#{esex},eage=#{eage},ephone=#{ephone},eemail=#{eemail},
        job=#{job} where uid = #{uid}
    </update>
    <select id="getEmpByEname" parameterType="java.lang.String" resultType="employee">
        select * from employee where ename=#{ename}
    </select>
    <select id="getBossByRoleName" parameterType="string" resultType="employee">
        select * from employee where job=#{boss}
    </select>
</mapper>