<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.ScoreMapper">
    <delete id="deleteScoreBySid">
        delete from score where sid = #{sid}
    </delete>

    <select id="getScoreListByUid" parameterType="int" resultType="score">
        select * from score where sid=#{sid}
    </select>

    <select id="getAvgScore" resultType="java.lang.String">
        SELECT AVG(score) FROM score,student WHERE score.sid=student.sid AND student.class_id=#{class_id} GROUP BY stage ORDER BY stage
    </select>
</mapper>