<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.StudentMapper">
<!--    <resultMap id="classesMap" type="classes">-->
<!--        <result property="class_id" column="class_id"></result>-->
<!--        <result property="class_name" column="class_name"></result>-->
<!--        <result property="class_course" column="class_course"></result>-->
<!--        <result property="class_teacher" column="class_teacher"></result>-->
<!--        <result property="class_headteacher" column="class_headteacher"></result>-->
<!--        <association property="student" resultMap="studentMap"></association>-->
<!--    </resultMap>-->
<resultMap id="studentMap" type="student">
    <result property="sid" column="sid"></result>
    <result property="sname" column="sname"></result>
    <result property="ssex" column="ssex"></result>
    <result property="sage" column="sage"></result>
    <result property="sphone" column="sphone"></result>
    <result property="semail" column="semail"></result>
    <association property="classes" column="class_id" resultMap="classesMap"></association>
</resultMap>
    <resultMap id="classesMap" type="classes">
        <result property="class_id" column="class_id"></result>
        <result property="class_name" column="class_name"></result>
        <result property="class_course" column="class_course"></result>
        <result property="class_teacher" column="class_teacher"></result>
        <result property="class_headteacher" column="class_headteacher"></result>
    </resultMap>

    <select id="getSidByUid" parameterType="int" resultType="int">
        select sid from student where uid = #{uid}
    </select>
    <delete id="deleteStudent" parameterType="int">
        delete from student where uid=#{uid}
    </delete>




<select id="getStudnetInfo" parameterType="int" resultType="student">
    select * from student where uid=#{uid}
</select>
    <update id="updateStudentInfo" parameterType="int">
        update student set sname=#{sname},ssex=#{ssex},sage=#{sage},sphone=#{sphone},semail=#{semail} where uid=#{uid}
    </update>
<update id="updateUpwd" parameterType="int">
    update user set upwd=#{upwd} where uid=#{uid}
</update>
    <insert id="addWeekReport" parameterType="int">
        insert into weekreport (title,create_date,info) values (#{title},#{create_date},#{info})
    </insert>
    <delete id="deleteWeekReport" parameterType="int">
        delete from weekreport where sid =#{sid}
    </delete>

    <select id="getWeekReport" parameterType="int" resultType="weekReport">
        select * from weekreport where sid =#{sid}
    </select>

    <select id="getWeekReportScore" resultType="java.lang.String" parameterType="int">
        select score from weekreport where sid=#{sid}
    </select>
    <select id="getRoleNameList" resultType="user">
        select rolename from user where uid =#{uid}
    </select>

    <insert id="addStudent" parameterType="student">
        insert into student(sname,ssex,sage,sphone,semail,uid,class_id)
        values (#{sname},#(ssex),#{sage},#{sphone},#{semail},#{user.uid},#{class.class_id})
    </insert>
    <select id="getClassesByUid" parameterType="int" resultMap="classesMap">
        select * from student inner join classes on student.class_id=classes.class_id and student.uid=#{uid}
    </select>
</mapper>