<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deleteStudentHolidayByUid">
    <delete id="deleteStudentHolidayByUid" parameterType="uid">
        delete from student_holiday where uid = #{uid}
    </delete>

    <update id="updateStudentHoliday">
        update student_holiday set headmaster=#{arg1} where hid=#{arg0}
    </update>
</mapper>