<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.TeacherMapper">
<select id="getTeacherByUid" parameterType="int" resultType="employee">
    select * from employee where uid=#{uid}
</select>
    <update id="updateUpwdByUname">
        update user set upwd=#{arg1} where uname=#{arg0}
    </update>
    <select id="getWeekReportList" resultType="weekReport">
        select * from weekreport
    </select>
    <select id="getWeekReport" resultType="weekReport">
        select * from weekreport where wid=#{wid}
    </select>
    <update id="updateWeekReport">
        update weekreport set score=#{arg0},state=#{arg1} where wid=#{arg2}
    </update>

<resultMap id="student_HolidayMap" type="student_Holiday">
    <id property="hid" column="hid"></id>
    <result property="start_date" column="start_date"></result>
    <result property="end_date" column="end_date"></result>
    <result property="reason" column="reason"></result>
    <association property="user" javaType="user" column="uid">
        <id property="uid" column="uid"></id>
        <result property="uname" column="uname"></result>
        <result property="upwd" column="upwd"></result>
    </association>


</resultMap>
    <select id="getStudent_HolidayList" resultMap="student_HolidayMap">
        select * from student_holiday inner join user on student_holiday.uid=user.uid
        where hid in
        <foreach collection="list" item="i" separator="," open="(" close=")">
            #{i}
        </foreach>
    </select>
    <update id="updateStudent_Holiday" >
        update student_holiday set teacher_state=#{arg1} where hid=#{hid}
    </update>
    <resultMap id="scoreMap" type="score">
        <id property="score_id" column="score_id"></id>
        <result property="score" column="score"></result>
        <result property="stage" column="stage"></result>
        <association property="student" javaType="student" column="sid">
            <id property="sid" column="sid"></id>
            <result property="sname" column="sname"></result>
        </association>
        <association property="course" javaType="course" column="course_id">
            <id property="course_id" column="course_id"></id>
            <result property="course_name" column="course_name"></result>
        </association>
    </resultMap>
    <select id="getScoreList" resultMap="scoreMap">
        select * from score inner join student on score.sid=student.sid inner join course on score.course_id=course.course_id
    </select>

    <insert id="addScore" parameterType="score">
        insert into score(sid,course_id,score,stage) values (#{sid},#{course_id},#{score},#{stage})
    </insert>
<!--<resultMap id="studentMap" type="student">-->
<!--    <id property="sid" column="sid"></id>-->
<!--    <result property="sname" column="sname"></result>-->
<!--    <result property="ssex" column="ssex"></result>-->
<!--    <result property="sage" column="sage"></result>-->
<!--    <result property="sphone" column="sphone"></result>-->
<!--    <result property="semail" column="semail"></result>-->
<!--    <association property="classes" javaType="classes" column="class_id">-->
<!--        <id property="class_id" column="class_id"></id>-->
<!--        <result property="class_name" column="class_name"></result>-->
<!--    </association>-->
<!--</resultMap>-->

    <select id="getStudentList" resultType="student">
        select * from student where class_id=#{class_id}
    </select>
    <select id="getClasses" resultType="classes">
    select * from classes where class_teacher=#{class_teacher}
</select>
<!--    <resultMap id="scoreMap1" type="score">-->
<!--        <id property="score_id" column="score_id"></id>-->
<!--        <result property="score" column="score"></result>-->
<!--        <result property="stage" column="stage"></result>-->
<!--        <association property="student" javaType="student" column="sid">-->
<!--            <id property="sid" column="sid"></id>-->
<!--            <result property="sname" column="sname"></result>-->
<!--        </association>-->
<!--    </resultMap>-->
    <select id="getAvgScore" resultType="java.lang.String">
        select avg(score) from score
         where score.sid in
        <foreach collection="list" item="i" separator="," open="(" close=")">
            #{i}
        </foreach>
         group by stage
    </select>
<!--    <select id="getAvgScore" >-->
<!--        select avg(score) from score where class_id=#{arg0} and stage=#{arg1}-->
<!--    </select>-->
    <select id="getScore" parameterType="int" resultType="int">
        select score from score where sid=#{sid} order by stage
    </select>

    <select id="getUidByRoleName" resultType="user" >
        select * from user where rolename='校长'
    </select>
    <insert id="addEmployeeHoliday" parameterType="employee_Holiday">
        insert into employee_holiday(uid,start_date,end_date,reason,boss) values (#{uid},#{start_date},#{end_date},#{reason},#{boss})
    </insert>
</mapper>
