<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.WeekReportMapper">
    <resultMap id="weekReportMap" type="weekReport">
        <id property="wid" column="wid"></id>
        <result column="title" property="title"></result>
        <result property="create_date" column="create_date"></result>
        <result column="info" property="info"></result>
        <result property="score" column="score"></result>
        <result column="state" property="state"></result>
        <result property="sid" column="sid"></result>
        <association property="student" column="sid" javaType="student">
            <result property="sid" column="sid"></result>
            <result property="sname" column="sname"></result>
            <result property="ssex" column="ssex"></result>
            <result property="sage" column="sage"></result>
            <result property="sphone" column="sphone"></result>
            <result property="semail" column="semail"></result>
        </association>
    </resultMap>
    <delete id="deleteWeekReportBySid" parameterType="int">
        delete from weekreport where sid = #{sid}
    </delete>
    <select id="getWeekReportListByUid" resultMap="weekReportMap">
        select * from weekreport,employee,classes,student
        <if test="arg1 == 0">
            where employee.ename=classes.class_headteacher and classes.class_id=student.class_id and student.sid=weekreport.sid and employee.uid=#{arg0}
        </if>
        <if test="arg1 > 0">
            where classes.class_id=student.class_id and student.sid=weekreport.sid and classes.class_id=#{arg1}
        </if>
    </select>
    <select id="getWeekReportListBySid" parameterType="int" resultType="weekReport">
        select * from weekreport where sid=#{sid}
    </select>
</mapper>